<head>
  <nav class="black">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">BookmarkAR</a>
      <ul class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>
</head>
